*{
  margin:0;
  padding:0;
  font-family: Arial, Helvetica, sans-serif;
}
body{
  padding-bottom: 300px;
}
.navbar{
  padding-left: 0;
  margin-top:0;
  margin: 0;
  height:60px;
  width:100%;
  display:flex;
  position:fixed;
  z-index:300;
}  
.nav1{
  background-color:white;
  height: 60px;
  width:40%;
  display:flex;
  align-items: center;
}

.nav2{
  background-color: white;
  height: 60px;
  width:60%;
  display: flex;
  display: flex;
  align-items: center;
}
.logo{
   margin-left: 26px;
   font-size: 26px;
}
.nav2 ul a{
  margin-left: 32px;
}
.button{
  margin-left:25px;
  background-color: black;
  color: white;
  height: 45px;
  width:120px;
  border-radius: 23px;
}
.b2{
  background-color:black;
  height: 45px;
  width: 45px;
  border-radius: 50%;
}
.b2 i{
  color: white;
  font-weight: 600;
  font-size: 20px;
}

section{
  height:600px;
  width:100%;
  display :flex;
  justify-content: center;
  align-items: center;
}
h1{
  font-size: 90px;
  z-index: 10;
}
.v1{
  font-size: 100px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  position:absolute;
  z-index: 200;
}
.First_div,
.Second_div{
  display: inline-block;
}
.Text{
  padding-right:100px;
  padding-left:100px;
  padding-bottom:20px;
  width:350px;
  font-size:20px;
  line-height: 25px;
}
.s_text{
  padding-top:0;
  padding-right:100px;
  padding-left:100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size:20px;
  text-decoration: underline;
}
.video{
  background-color: black;
  height:650px;
  width:660px;
  padding:0;
  position:relative;
  z-index:100; 
  display: flex;
align-items: right;
}
.Text_1{
  padding-top:20px;
}
